name: Auto Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Pull and restart with Gunicorn
        run: |
          cd ${{ github.workspace }}
          ./deploy.sh
