name: Auto Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted  # <-- instead of "ubuntu-latest"
    steps:
      - name: Pull and restart
        run: ./Pull-Action.sh
